[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/AFOAuth2Client"]
	path = Vendor/AFOAuth2Client
	url = https://github.com/AFNetworking/AFOAuth2Client.git
